* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Merriweather", serif;
}

main {
  margin: auto;
  width: 90%;
}

p,
label {
  color: rgb(141, 141, 141);
}

form {
  border-top: 2px solid rgb(62, 59, 85);
}

fieldset {
  border: none;
  padding: 15px 0;
}

.important {
  background-color: rgba(241, 241, 241, 0.329);
  border-radius: 10px;
}

hr {
  border: 1px solid rgb(62, 59, 85);
}

/* sign up button------------ */
button {
  display: block;
  background-color: lightseagreen;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}
/*  */

/*100% width set------------- */
select,
button,
textarea,
input[class="contact-input"] {
  width: 100%;
}
/* - */

/*------- spacing ------------*/
.contact-label-input,
.label-radio,
.label-checkbox,
textarea,
p {
  margin: 15px 0;
}

.contact-label-input input,
select,
textarea {
  padding: 20px;
}

.contact-label-input input,
select {
  margin-top: 10px;
}

.header-container,
button,
.signup-container,
[type="redio"],
[type="checkbox"] {
  padding: 15px 0;
}

#format-heading {
  padding-top: 15px;
}

legend {
  padding-top: 20px;
}
/*  */

/* center align--------------- */
.header-container,
.signup-container,
.copyright {
  text-align: center;
}
/*  */

.header-container {
  background-color: rgb(62, 59, 85);
  color: white;
}

.signup-container {
  border-bottom: 5px solid rgb(62, 59, 85);
  margin: 5px 0;
}

span,
.signup-header h1,
legend {
  font-weight: bold;
}

.signup-container h1,
legend {
  font-size: 1.3rem;
  color: rgb(62, 59, 85);
}

.signup-container p,
label[for="other-topics"] {
  font-size: 14px;
}
/*  */
/*input styles----------------------- */
.contact-label-input input,
textarea,
select {
  border: none;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

select,
::placeholder {
  color: rgb(180, 180, 180);
}

::placeholder {
  text-align: right;
}

[class="zipcode-input"] {
  width: 50%;
  display: block;
}

.contact-label-input input:focus,
select:focus,
textarea:focus {
  border: 2px solid lightskyblue;
  outline: none !important;
  background-color: rgb(212, 212, 212);
}
/* -------------------------------- */
/* italic font */
.copyright {
  font-style: italic;
}

/* desktop view */
@media screen and (min-width: 768px) {
  main {
    width: 60%;
  }
  .signup-container {
    padding-top: 2rem;
  }
  legend {
    padding: 3rem 0 0 0;
  }

  .copyright {
    padding: 20px 0;
  }
  /* container */
  .contact-label-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /*  */

  .contact-label-input label:not(.zipcode-label) {
    width: 50%;
  }
  .label-radio {
    margin-bottom: 20px;
  }
  .zipcode-label {
    width: 32.8%;
  }
  /* zipcode input */
  .zipcode-input {
    width: 25%;
    margin-right: auto;
  }
}
